@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");
html, body, p, a, h1, h2, h3, h4, label, input[type=checkbox] {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Space Mono";
}

html, body {
  height: 100%;
}

h1 {
  color: #7a7a7a;
  font-size: 4em;
}

#root {
  height: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  user-select: none;
}
#main #taskContainer {
  justify-content: space-between;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 3em;
}
#main .task {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#main .checkbox {
  visibility: hidden;
}
#main label {
  font-size: 1.4rem;
  font-weight: 700;
  width: 9em;
  height: 9em;
  margin: 0.5em;
  line-height: 9em;
  border-radius: 9em;
}
#main input[type=checkbox], #main label {
  cursor: pointer;
  appearance: none;
  background-color: #c5c5c5;
  border-color: #c5c5c5;
}
#main input[type=checkbox]:checked + label {
  background-color: #54c559;
  border-color: #54c559;
}

/*# sourceMappingURL=master.css.map */
